@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/* Mozilla Firefox */
html {
  scrollbar-color: #61dafb #0a0c10;
  scrollbar-width: thin;
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0a0c10;
}

::-webkit-scrollbar-thumb {
  background-color: #61dafb;
}

/* General Rules */
html,
body,
main {
  margin: 0 auto;
  padding: 0 auto;
  color: #f0f3f6;
  background-color: #0a0c10;
}

h2 {
  margin: 0;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  height: 70px;
  border-bottom: 2px solid #61dafb;
}
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  width: 70px;
  height: 70px;
  padding-left: 20px;
}
header nav a {
  text-decoration: none;
  line-height: 0;
  color: #f0f3f6;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
header nav ul li {
  padding: 0 20px;
  font-family: "Space Mono", monospace;
}
header nav ul li b {
  color: #61dafb;
  padding-right: 5px;
}

/* Section */
main {
  font-family: "Fira Code", monospace;
}
main section {
  padding: 50px 100px 0 100px;
  height: 850px;
}
main section .h2-section {
  display: flex;
}
main section .h2-section::after {
  content: "";
  width: 300px;
  height: 2px;
  position: relative;
  top: 17px;
  left: 10px;
  background-color: #61dafb;
}
main section .h2-section b {
  color: #61dafb;
  padding-right: 5px;
}
main section p {
  text-align: justify;
  white-space: pre-line;
}
main .title-section {
  text-align: center;
}
main .title-section h1 {
  font-size: 34px;
  color: #61dafb;
}
main .title-section #sub-title {
  margin: 0;
  max-width: 550px;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 5px;
  border-right: 2px solid #61dafb;
  animation: typing 5s steps(80, end), blink-caret 0.8s step-end 4 forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #61dafb;
  }
}
main .about-section ul.list-skill {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  list-style: none;
  margin-top: 50px;
  padding: 0;
}
main .about-section ul.list-skill li {
  padding: 2px 8px;
}
main .about-section ul.list-skill li::before {
  content: "▹";
  color: #61dafb;
  padding-right: 5px;
}
main .project-section [data-aos=fade-down] {
  transform: translate3d(0, -50px, 0);
}
main .project-section .project-text p b {
  color: #61dafb;
}
main .project-section .card-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}
main .project-section .card-group .card {
  overflow: hidden;
  border-radius: 15px;
  flex-basis: 29%;
  position: relative;
  background-color: white;
}
main .project-section .card-group .card img {
  width: 100%;
  object-fit: cover;
  display: block;
}
main .project-section .card-group .card .card-text {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .project-section .card-group .card .card-text p {
  font-size: 22px;
  color: #000000;
  padding: 20px;
  margin: 0px;
}
main .project-section .card-group .card .card-text:hover {
  opacity: 0.9;
  background-color: #61dafb;
}
main .contact-section .contact-me {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
main .contact-section .contact-me a {
  border-radius: 10px;
  text-decoration: none;
  color: #61dafb;
  background-color: transparent;
  border: 1px solid #61dafb;
  padding: 15px;
}
main .contact-section .contact-me a i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
