@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
$primary-font: "Fira Code", monospace;
$secondary-font: "Space Mono", monospace;
$bg-color: #0a0c10;
$text-color: #f0f3f6;
$special-color: #61dafb;

/* Mozilla Firefox */
html {
  scrollbar-color: $special-color $bg-color;
  scrollbar-width: thin;
}
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: $bg-color;
}
::-webkit-scrollbar-thumb {
  background-color: $special-color;
}

/* General Rules */
html,
body,
main {
  margin: 0 auto;
  padding: 0 auto;
  color: $text-color;
  background-color: $bg-color;
}
h2 {
  margin: 0;
}
b {
  color: $special-color;
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  height: 70px;
  border-bottom: 2px solid $special-color;
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    img {
      width: 70px;
      height: 70px;
      padding-left: 80px;
    }
    a {
      text-decoration: none;
      line-height: 0;
      color: $text-color;
    }
    #navbar-ol {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0 80px 0 0;
      li {
        padding: 0 20px;
        font-family: $secondary-font;
        b {
          padding-right: 5px;
        }
        &:hover {
          color: $special-color;
        }
      }
    }
  }
}

/* Section */
main {
  font-family: $primary-font;
  .vertical-mail {
    display: flex;
    position: fixed;
    left: auto;
    right: 50px;
    bottom: 0px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0 auto;
      background-color: $special-color;
    }
    a {
      text-decoration: none;
      color: $text-color;
      position: relative;
      bottom: 20px;
      letter-spacing: 1px;
      font-size: 14px;
      &:hover {
        color: $special-color;
      }
    }
  }
  section {
    padding: 50px 150px 0 150px;
    .h2-section {
      display: flex;
      text-shadow: 2px 2px 2px #4444dd;
      &::after {
        content: "";
        width: 300px;
        height: 2px;
        position: relative;
        top: 17px;
        left: 10px;
        background-color: $special-color;
      }
      b {
        padding-right: 5px;
      }
    }
    p {
      text-align: justify;
      white-space: pre-line;
    }
  }
  .title-section {
    height: 800px;
    text-align: center;
    h1 {
      font-size: 34px;
      color: $special-color;
    }
    #sub-title {
      margin: 0;
      max-width: 550px;
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 5px;
      border-right: 2px solid $special-color;
      animation: typing 4s steps(80, end), blink-caret 0.8s step-end 4 forwards;
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: $special-color;
        }
      }
    }
    .picture-me {
      padding-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 400px;
        object-fit: cover;
        border-radius: 20px;
        border: 2px solid $special-color;
      }
    }
  }
  .about-section {
    height: 700px;
    [data-aos="fade-down"] {
      transform: translate3d(0, -30px, 0);
    }
    .about-text {
      ul.list-skill {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        list-style: none;
        margin: 30px 0;
        width: 50%;
        padding: 0;
        li {
          padding: 2px 8px;
          &::before {
            content: "▹";
            color: $special-color;
            padding-right: 5px;
          }
        }
      }
      p {
        margin: 0;
        padding-top: 16px;
      }
      p:nth-child(2) {
        padding-top: 50px;
        margin: 0;
      }
    }
    #button-cv {
      display: flex;
      a {
        border-radius: 10px;
        text-decoration: none;
        color: $bg-color;
        background-color: $special-color;
        padding: 10px 25px;
        filter: drop-shadow(3px 3px 3px #4444dd);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .project-section {
    height: 700px;
    [data-aos="fade-down"] {
      transform: translate3d(0, -30px, 0);
    }
    .card-group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      flex-wrap: wrap;
      gap: 50px;
      margin-top: 50px;
      .card {
        overflow: hidden;
        border-radius: 15px;
        flex-basis: 27%;
        position: relative;
        background-color: white;
        border: 1px solid $special-color;
        img {
          width: 100%;
          object-fit: cover;
          display: block;
          
        }
        .card-content {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          p {
            font-size: 22px;
            color: #000000;
            padding: 20px;
            margin: 0px;
          }
          img {
            width: 25%;
            height: auto;
            padding: 10px;
          }
          &:hover {
            opacity: 0.9;
            background-color: $text-color;
          }
        }
      }
    }
  }
  .contact-section {
    height: 500px;
    .contact-me {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      a {
        border-radius: 10px;
        text-decoration: none;
        color: $bg-color;
        background-color: $special-color;
        padding: 15px;
        filter: drop-shadow(3px 3px 3px #4444dd);
        i {
          padding-right: 10px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
/* Footer */
footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 16px;
    font-family: $secondary-font;
    margin: 0;
  }
}
/* Navigation menu hamburger for mobile */
#hamburger-input {
  display: none;
}
#hamburger-menu {
  display: none;
}

/* min-width: 768px - max-width: 992px */
@media screen and (min-width: 768px) and (max-width: 992px) /* Tablets / Small screens / Laptops*/ {
  main {
    section {
      padding: 50px 100px 0 100px;
    }
    .title-section {
      #sub-title {
        animation: typing 2.5s steps(80, end), blink-caret 0.8s step-end 4 forwards;
      }
    }
    .project-section {
      height: 850px;
      .card-group {
        .card {
          flex-basis: 45%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) /* Phone*/ {
  header {
    nav {
      img {
        padding-left: 20px;
      }
      #navbar-ol {
        display: none;
      }
      /* Hide toggle selector */
      #hamburger-input {
        display: none;
      }
      /* Hamburger icon */
      #hamburger-menu {
        width: 30px;
        height: 30px;
        display: flex;
        border: none;
        padding: 0px;
        margin-right: 20px;
        background: linear-gradient(
          to bottom,
          $special-color,
          $special-color 20%,
          $bg-color 20%,
          $bg-color 40%,
          $special-color 40%,
          $special-color 60%,
          $bg-color 60%,
          $bg-color 80%,
          $special-color 80%,
          $special-color 100%
        );
        /* Hamburger menu slide */
        #sidebar-menu {
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          visibility: hidden;
          position: fixed;
          top: 0;
          right: -250px;
          bottom: 0;
          width: 200px;
          background-color: $bg-color;
          overflow-y: hidden;
          height: 100%;
          border-left: 2px solid $special-color;
          transition: 0.3s;
          padding: 0px 10px;
          #sidebar-ol {
            font-family: $secondary-font;
            padding-left: 0px;
            margin: 0;
            a {
              color: $text-color;
              font-size: 20px;
              text-decoration: none;
              li {
                list-style-type: none;
                padding: 25px 0;
              }
            }
            a:active {
              text-decoration: underline;
              color: $special-color;
            }
          }
        }
      }

      #hamburger-input:checked + #hamburger-menu {
        #sidebar-menu {
          visibility: visible;
          right: 0;
        }
      }
    }
  }
  main {
    .vertical-mail {
      display: none;
    }
    section {
      padding: 0 25px;
      p {
        text-align: start;
        white-space: normal;
      }
      .h2-section::after {
        width: 60px;
      }
    }
    .about-section {
      padding-top: 50px;
      height: max-content;
      .about-text {
        ul.list-skill {
          width: 100%;
        }
      }
    }
    .title-section {
      height: max-content;
      padding-top: 50px;
      #sub-title {
        white-space: normal;
        letter-spacing: 0px;
        border-right: none;
        animation: none;
      }
    }
    .project-section {
      height: max-content;
      padding-top: 50px;
      .card-group {
        .card {
          flex-basis: 100%;
          .card-content {
            &:active {
              opacity: 0.9;
              background-color: $special-color;
            }
          }
        }
      }
    }
    .contact-section {
      padding-top: 50px;
      height: max-content;
      .contact-me {
        flex-direction: column;
        a {
          margin-top: 25px;
        }
      }
    }
  }
}
