@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
$primary-font: "Fira Code", monospace;
$secondary-font: "Space Mono", monospace;
$bg-color: #0a0c10;
$text-color: #f0f3f6;
$special-color: #61dafb;

/* Mozilla Firefox */
html {
  scrollbar-color: $special-color $bg-color;
  scrollbar-width: thin;
}
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: $bg-color;
}
::-webkit-scrollbar-thumb {
  background-color: $special-color;
}

/* General Rules */
html,
body,
main {
  margin: 0 auto;
  padding: 0 auto;
  color: $text-color;
  background-color: $bg-color;
}
h2 {
  margin: 0;
}
b {
  color: $special-color;
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  height: 70px;
  border-bottom: 2px solid $special-color;
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    img {
      width: 70px;
      height: 70px;
      padding-left: 80px;
    }
    a {
      text-decoration: none;
      line-height: 0;
      color: $text-color;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0 80px 0 0;
      li {
        padding: 0 20px;
        font-family: $secondary-font;
        b {
          padding-right: 5px;
        }
      }
    }
  }
}

/* Section */
main {
  font-family: $primary-font;
  .vertical-mail {
    display: flex;
    position: fixed;
    left: auto;
    right: 50px;
    bottom: 0px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    &::after {
      content:"";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0 auto;
      background-color: $special-color;
    }
    a {
      text-decoration: none;
      color: $text-color;
      position: relative;
      bottom: 20px;
      letter-spacing: 1px;
      &:hover {
        color: $special-color;
      }
    }
  }
  section {
    padding: 50px 200px 0 200px;
    .h2-section {
      display: flex;
      text-shadow: 2px 2px 2px #4444dd;
      &::after {
        content: "";
        width: 300px;
        height: 2px;
        position: relative;
        top: 17px;
        left: 10px;
        background-color: $special-color;
      }
      b {
        padding-right: 5px;
      }
    }
    p {
      text-align: justify;
      white-space: pre-line;
    }
  }
  .title-section {
    height: 800px;
    text-align: center;
    h1 {
      font-size: 34px;
      color: $special-color;
    }
    #sub-title {
      margin: 0;
      max-width: 550px;
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 5px;
      border-right: 2px solid $special-color;
      animation: typing 5s steps(80, end), blink-caret 0.8s step-end 4 forwards;
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: $special-color;
        }
      }
    }
  }
  .about-section {
    height: 700px;
    [data-aos="fade-down"] {
      transform: translate3d(0, -30px, 0);
    }
    .about-text {
      ul.list-skill {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        list-style: none;
        margin: 30px 0;
        width: 50%;
        padding: 0;
        li {
          padding: 2px 8px;
          &::before {
            content: "▹";
            color: $special-color;
            padding-right: 5px;
          }
        }
      }
    }
    #button-cv {
      display: flex;
      a {
        border-radius: 10px;
        text-decoration: none;
        color: $bg-color;
        background-color: $special-color;
        padding: 10px 25px;
        filter: drop-shadow(3px 3px 3px #4444dd);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .project-section {
    height: 700px;
    [data-aos="fade-down"] {
      transform: translate3d(0, -30px, 0);
    }
    .card-group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      flex-wrap: wrap;
      gap: 50px;
      margin-top: 50px;
      .card {
        overflow: hidden;
        border-radius: 15px;
        flex-basis: 29%;
        position: relative;
        background-color: white;
        img {
          width: 100%;
          object-fit: cover;
          display: block;
        }
        .card-text {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          p {
            font-size: 22px;
            color: #000000;
            padding: 20px;
            margin: 0px;
          }
          &:hover {
            opacity: 0.9;
            background-color: $special-color;
          }
        }
      }
    }
  }
  .contact-section {
    height: 500px;
    .contact-me {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      a {
        border-radius: 10px;
        text-decoration: none;
        color: $bg-color;
        background-color: $special-color;
        padding: 15px;
        filter: drop-shadow(3px 3px 3px #4444dd);
        i {
          padding-right: 10px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
/* Footer */
footer {
  height: 80px;
  p {
    font-size: 16px;
    font-family:$secondary-font;
    text-align: center;
    margin: 0;
  }
}
